production=False
dbName=marketing_staging
hostName=technogroves-1.cluster-cox0ks2q8snl.us-east-1.rds.amazonaws.com
username=admin
password=PdsqUSyAolMuFtWWOgZW
port=3306

EMAIL_MARKETING_BATCH_SIZE=100
EMAIL_MARKETING_BATCH_SLEEP=0.5
EMAIL_MARKETING_PUBLIC_URL=http://localhost:8000
