production=False
dbName=email_marketing
hostName=127.0.0.1
username=root
password=
port=3306

EMAIL_MARKETING_BATCH_SIZE=100
EMAIL_MARKETING_BATCH_SLEEP=0.5
EMAIL_MARKETING_PUBLIC_URL=http://localhost:8000
